In [2]:
import ibmdbpy
from ibmdbpy import IdaDataBase, IdaDataFrame

import pandas as pd
import numpy as np
from ibmdbpy import IdaDataBase, IdaDataFrame

In [8]:
# The code was removed by DSX for sharing.

,ROOMNO,MINUTESOCCUPIED,BOCCUPIED,NUMDOCTORINROOM,BDOCTORINROOM,MINUTESTOILET,BTOILET,MINUTESWAITING,BWATING,STATEID,STATE,SYMPTONCATEGORIESID,SYMPTONCATEGORIES,DOCTORDEPT
0,1,57,1,0,0,15,1,21,1,2,Check In,5,GI,GI
1,2,9,1,1,1,10,1,19,1,2,Check In,1,BONE,BONE
2,3,0,0,0,0,0,0,0,0,3,Treatment,3,EYE,EYE
3,4,19,1,1,1,2,1,13,1,1,Appointed,1,BONE,BONE
4,5,1,1,0,0,14,1,27,1,5,Check Out,6,CHEST,CHEST

In [6]:
# The code was removed by DSX for sharing.

In [4]:
# The code was removed by DSX for sharing.

Row(ROOMNO=1, MINUTESOCCUPIED=57, BOCCUPIED=1, NUMDOCTORINROOM=0, BDOCTORINROOM=0, MINUTESTOILET=15, BTOILET=1, MINUTESWAITING=21, BWATING=1, STATEID=2, STATE=u'Check In', SYMPTONCATEGORIESID=5, SYMPTONCATEGORIES=u'GI', DOCTORDEPT=u'GI')

In [11]:
rand_dat = pd.DataFrame(np.random(random(1000,3)),columns=['a','b','c'])
rand_dat.head()

NameError: name 'random' is not defined